*{
     margin: 0;
     padding: 0;   
     box-sizing: border-box;
}


:root{
    --text-color: white;
    --bg-url:url(.//Assets/bg-mobile.jpg);
    --stroke-color:rgba(255, 255, 255, 0.5);
    --surface-color:rgba(255, 255, 255, 0.1);
    --surface-color-hover:rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    
}

.light{
    --text-color: black;
    --bg-url:url(./Assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.5);
    --surface-color-hover:rgba(255, 255, 255, 0.05)
    --highlight-color:  rgba(77, 2, 54, 0.724);
    --switch-bg-url: url(./Assets/sun.svg)
}

body{

/*
 background-image:url(./Assets/bg-mobile.jpg) ;  
 background-repeat: no-repeat;
 background-position:top center;
 background-size: cover;
*/

background:var(--bg-url) no-repeat top center/cover;
height: 100vh;


/*background:color image repeat position/size short hand ou atalho*/
               /*background:url(Assets/bg-mobile.jpg) no-repeat top center/cover; tirei para mudar a imagem */
/*url é imagem*/
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
} 


#container{
width: 100%;
max-width: 588px;
margin: 30px auto 0px;
padding:0 24px;

}
/* tirei border pra n ficar visível, usar ela caso queira ter um norte das dimensões */



#profile{
    text-align: center;
    padding: 24px;

}

#profile img{
display: block;
width: 120px;
margin: auto;
}

#profile p{
    font-weight: 500;
    font-size: 19px;
    line-height: 50px;
    margin-top:auto;
    
}




#switch{
    position: relative;
    width: 64px;

    margin: 4px auto;

}
#switch button{
  width:32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position:absolute;
  top: 50%;
  left:0;
  z-index: 1;
  transform:translateY(-50%);


  animation: slide-out 0.6s ;
  
}


.light #switch button{
  animation: slide-in 0.6s forwards;

  
  
   /*  right: 0;
  
    left: initial; */
}


#switch button:hover {
    outline: 8px solid var(--highlight-color)
}


#switch span{
display: block;
width: 64px;
height: 24px;
background: var(--surface-color);
border: 1px solid var(--stroke-color);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border-radius: 9999px;
}






/* lista de links */
ul{
    list-style:none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0px;
}

ul li a {
 border: 1px solid white; 

display: flex;
align-items:center; /* joga ele no "começo" do eixo x*/
justify-content: center; /* joga no meio do eixo y*/

padding: 16px 24px;

background-color: var(--surface-color);
border:solid var(stroke-color);
border-radius: 15px; /*arredondamento de borda da borde*/
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);

text-decoration:none;
font-weight: 500;

transition:background 0.2s;

 }

 
 /*pseudo-selector*/
 ul li a:hover {
background-color:var(--surface-color-hover);
border: 1.5px solid var(--text-color);
 }
/* na ordem, red, green, blue e transparência */



 /*social links */
 #social-links{
    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 28px 0; /* o primeiro é cima e baixo o segundo as laterais */


    font-size: 20px;

 }


 #social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    transition: background 0.02s;
    border-radius: 90%;
 }

#social-links a:hover {

background-color: rgba(255, 255, 255, 0.291);
}

.light #social-links a:hover {
    background-color: rgba(0, 0, 0, 0.407)
}


footer{
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}



/* media queries */
@media (min-width:700px) {
    :root {
     --bg-url: url(Assets/bg-desktop.jpg);   
    }

    .light {
        --bg-url:url(Assets/bg-desktop-light.jpg);
    }
}



/* animation*/
@keyframes slide-in {
    from{
        left: 0;
    }
    to {
        left: 50%;
    }
}
    
@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}
